canvas{
  background: #eee
}
.SizeInput{
  width: 100%;
  padding: 10px 10px;
  margin: 10px ;

  display: inline-block;
  border: 2px solid #ccc;
  border-radius:10px;
  background-color:white;
  box-sizing: border-box;
}
.SizeInput:hover{
  background-color:#e6e6e6;
}
.ControlButton{
  width: 95%;
  padding: 10px 10px;
  margin: 10px ;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius:10px;
  background-color:white;
  box-sizing: border-box;
}
.ControlButton:hover{
  background-color:#e6e6e6;
  cursor: pointer;
}


#SizeInputDiv{
  background-color: grey;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width:10%;
  float:left;

}
#ControlButtonsDiv{
  background-color: darkgrey;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  float: left;
  width:10%;

}
